.botaoExcluir {
    background-color: #ff0000; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.subtotal {
    text-align: center;
}

.pagamento {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.comp {
    background-color: #088178;
    width: 30px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.produtos__carrinho{
    width 100%;
}

.botao__comprar{
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 2.5rem;
}

.alinhar{
    text-align: center;
}