<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Juan Souza, Maria Helena, Pedro Ferreira,  Thiago shigueto">
    <title>Cureate</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<section id="header">
    <a href="/"><img src="/img/front-end/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a href="/">Início</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/contact">Contato</a></li>
            <li id="lg-bag"><a href="/shoppingCart"><i class="far fa-shopping-bag"></i></a></li>
            <li id="lg-bag"><a href="/user"><i class="fas fa-user"></i></a></li>

            <li id="lg-bag"><a href="/logout"><i class="fas fa-sign-out"></i></a></li>

            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/shoppingCart"><i class="far fa-shopping-bag"></i></a>
        <a href="/user"><i class="fas fa-user"></i></a>
        <a href="/logout"><i class="fas fa-sign-out"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="prodetails" class="section-p1">
    <div class="single-pro-image">
        <img id="MainImg" th:src="@{${images[1].path}}" width="100%" class="small-img" alt="">

        <div class="small-img-group">
            <div class="small-img-col">
                <img th:src="@{${images[1].path}}"
                     width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img th:src="@{${images[2].path}}"
                     width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img th:src="@{${images[3].path}}"
                     width="100%" class="small-img" alt="">
            </div>
            <div class="small-img-col">
                <img th:src="@{${images[4].path}}"
                     width="100%" class="small-img" alt="">
            </div>
        </div>
    </div>

    <div class="single-pro-details">
        <h6>Produto:</h6>
        <h4 th:text="${product.name}">Nome</h4>
        <h2 th:text="${product.price}">Preço</h2>
        <form action="/carrinho/add" id="myForm" method="post">
            <select id="sizeSelect" name="size" required>
                <option disabled selected>Selecione o tamanho</option>
            <th:block th:if="${id >= 8}">
                <option>PP</option>
                <option>P</option>
                <option>M</option>
                <option>G</option>
                <option>GG</option>
                <option>XG</option>
            </th:block>
            <th:block th:unless="${id >= 8}">
                <option>38</option>
                <option>39</option>
                <option>40</option>
                <option>41</option>
                <option>42</option>
                <option>43</option>
                <option>44</option>
            </th:block>
        </select>
            <input type="hidden" name="produtoId" th:value="${product.id}" />
            <input type="number" name="quantidade" value="1" min="1">
            <button type="submit" onclick="validateForm(event)" class="normal">Adicionar ao itemCarrinho</button>
        </form>
        <h4>Detalhes do produto:</h4>
        <span th:text="${product.description}">
                descricao
            </span>
    </div>
</section>

<section id="product1" class="section-p1">
    <h2>Produtos em destaque</h2>
    <p>Desenvolvidos para seu maior conforto</p>
    <div class="pro-container">
        <div th:each="x : ${randomProducts}" class="pro">
            <a th:href="@{'/product/' + ${x.id}}"  class="decoration">
                <img th:src="@{${x.main_image}}"
                     alt="">
                <div class="des">
                    <span th:text="${x.brand}" >Marca</span>
                    <h5 th:text="${x.name}" >Nome</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4 th:text="'R$' + ${x.price}">Preço</h4>
                </div>
            </a>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Seja o primeiro a saber</h4>
        <p>Receba as novidades da nossa loja e saiba antes dos <span>futuros lançamentos!</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Digite seu e-mail">
        <button class="normal">Enviar</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="img/cureate01.png" alt="">
        <h4>Contato</h4>
        <p><strong>Endereço: </strong> Av. Eng. Eusébio Stevaux, 823</p>
        <p><strong>Telefone:</strong> 11 99999-9999</p>
        <div class="follow">
            <h4>Siga!</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Sobre</h4>
        <a href="#">Sobre a empresa</a>
        <a href="#">Informações de entregas</a>
        <a href="#">Política e privacidade</a>
        <a href="#">Termos e condições</a>
        <a href="#">Entre em contato</a>
    </div>

    <div class="col">
        <h4>Minha conta</h4>
        <a href="#">Entrar</a>
        <a href="#">Ver itemCarrinho</a>
        <a href="#">Meus favoritos</a>
        <a href="#">Meus pedidos</a>
        <a href="#">Ajuda</a>
    </div>

    <div class="col install">
        <h4>Baixe nosso app</h4>
        <p>Disponível em App Store e Google Play</p>
        <div class="row">
            <img src="/img/front-end/pagamentos/app.jpg" alt="">
            <img src="/img/front-end/pagamentos/play.jpg" alt="">
        </div>
        <p>Formas de pagamento</p>
        <img src="/img/front-end/pagamentos/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>© 2023, Senac - E-commerce projeto integrador</p>
    </div>
</footer>

<script src="/js/product.js"></script>
<script src="/js/script.js"></script>
</body>

</html>