<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Juan Souza, Maria Helena, Pedro Ferreira, Thiago Shigueto">
    <title>Cureate</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/shoppingCart.css">
</head>

<body>

<section id="header">
    <a href="/"><img src="/img/front-end/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a href="/">Início</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/contact">Contato</a></li>
            <li id="lg-bag"><a href="/shoppingCart"><i class="far fa-shopping-bag"></i></a></li>
            <li id="lg-bag"><a href="/user"><i class="fas fa-user"></i></a></li>

            <li id="lg-bag"><a href="/logout"><i class="fas fa-sign-out"></i></a></li>

            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/shoppingCart"><i class="far fa-shopping-bag"></i></a>
        <a href="/user"><i class="fas fa-user"></i></a>
        <a href="/logout"><i class="fas fa-sign-out"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<section id="page-header" class="about-header">
    <h2>#itemCarrinho</h2>
    <p>Adicione seu cupom e tenha até 70% de desconto!</p>
</section>

<section id="cart" class="section-p1">
    <table class="produtos__carrinho">
        <thead>
        <tr>
            <td>Remover</td>
            <td>Imagem</td>
            <td>Produto</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td>Subtotal</td>
        </tr>
        </thead>

        <tbody>
        <tr class="tabelas" th:each="item : ${shoppingCart.cartItems}">
            <form action="/shoppingCart/remove" method="post">
                <input type="hidden" name="produtoId" th:value="${item.product.id}"/>
                <input type="hidden" name="subTotal" th:value="${item.totalPrice}"/>
                <td><input type="submit" class="botaoExcluir" value="Excluir"></td>
            </form>
            <td><img th:src="${item.product.main_image}" alt="Imagem do produto"></td>
            <td th:text="${item.product.name}"></td>
            <td th:text="'R$ ' + ${item.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td class="subtotal" th:text="'R$ ' + ${item.totalPrice}"></td>
        </tr>
        </tbody>
    </table>
</section>

<section id="cart-add" class="section-p1">
    <div class="pagamento">
        <div id="subtotal">
            <h3>Total itemCarrinho</h3>
            <table>
                <tr>
                    <td>Carrinho Subtotal</td>
                    <td>
                        R$ <span th:text="${shoppingCart.cartItems.isEmpty() ? '0.00' : totalPrice}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Frete</td>
                    <!-- Verifica se a lista de itens do itemCarrinho está vazia -->
                    <td>
                        <span th:text="${shoppingCart.cartItems.isEmpty() ? 'R$ 0.00' : shippingCost}"></span>
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <!-- Verifica se a lista de itens do itemCarrinho está vazia -->
                    <td>
                        <strong>
                            R$ <span th:text="${shoppingCart.cartItems.isEmpty() ? '0.00' : total}"></span>
                        </strong>
                    </td>
                </tr>
            </table>
            <a href="/checkout" class="normal comp"
               th:classappend="${hasItems and hasAddress} ? '' : 'disabled'"
               th:onclick="${not (hasItems and hasAddress)} ? 'return false;' : ''">Comprar</a>
            <p th:if="${not (hasItems and hasAddress)}" class="botao__comprar">Seu carrinho está vazio ou você não tem
                um endereço
                cadastrado.</p>
        </div>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Seja o primeiro a saber</h4>
        <p>Receba as novidades da nossa loja e saiba antes dos <span>futuros lançamentos!</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Digite seu e-mail">
        <button class="normal">Enviar</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="img/cureate01.png" alt="">
        <h4>Contato</h4>
        <p><strong>Endereço: </strong> Av. Eng. Eusébio Stevaux, 823</p>
        <p><strong>Telefone:</strong> 11 99999-9999</p>
        <div class="follow">
            <h4>Siga!</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Sobre</h4>
        <a href="#">Sobre a empresa</a>
        <a href="#">Informações de entregas</a>
        <a href="#">Política e privacidade</a>
        <a href="#">Termos e condições</a>
        <a href="#">Entre em contato</a>
    </div>

    <div class="col">
        <h4>Minha conta</h4>
        <a href="#">Entrar</a>
        <a href="#">Ver itemCarrinho</a>
        <a href="#">Meus favoritos</a>
        <a href="#">Meus pedidos</a>
        <a href="#">Ajuda</a>
    </div>

    <div class="col install">
        <h4>Baixe nosso app</h4>
        <p>Disponível em App Store e Google Play</p>
        <div class="row">
            <img src="/img/front-end/pagamentos/app.jpg" alt="">
            <img src="/img/front-end/pagamentos/play.jpg" alt="">
        </div>
        <p>Formas de pagamento</p>
        <img src="/img/front-end/pagamentos/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>© 2023, Senac - E-commerce projeto integrador</p>
    </div>
</footer>


<script src="/js/script.js"></script>
</body>

</html>