<!--
    Nome do Projeto: E-commerce
    Data de Criação: 15/02/2024
    Versão: 5
    Data da Última Modificação: 22/05/2024
    Equipe de Desenvolvimento:
        - Juan Souza Santos
        - Maria Helena dos Santos
        - Pedro Ferreira Lima
        - Thiago Shigueto Hossaka
-->

<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Juan Souza, Maria Helena, Pedro Ferreira, Thiago shigueto">
    <title>Cureate</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"/>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>

<section id="header">
    <a href="/"><img src="/img/front-end/logo.png" class="logo" alt=""></a>

    <div>
        <ul id="navbar">
            <li><a href="/">Início</a></li>
            <li><a href="/about">Sobre</a></li>
            <li><a href="/contact">Contato</a></li>
            <li id="lg-bag"><a href="/shoppingCart"><i class="far fa-shopping-bag"></i></a></li>
            <li id="lg-bag"><a href="/user"><i class="fas fa-user"></i></a></li>

            <li id="lg-bag"><a href="/logout"><i class="fas fa-sign-out"></i></a></li>

            <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
    </div>
    <div id="mobile">
        <a href="/shoppingCart"><i class="far fa-shopping-bag"></i></a>
        <a href="/user"><i class="fas fa-user"></i></a>
        <a href="/logout"><i class="fas fa-sign-out"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
    </div>
</section>

<div class="usuario">
    <form action="/user/address" class="sign-in-form" method="post" th:object="${address}">
        <h2 class="title">Cadastrar endereço</h2>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Rua" name="rua" id="user-rua" th:field="*{street}" required/>
        </div>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="number" placeholder="Número" name="numero" id="user-numero" th:field="*{number}" required/>
        </div>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Bairro" name="bairro" id="user-bairro" th:field="*{neighborhood}" required/>
        </div>
        <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Cep" name="cep" id="user-cep" th:field="*{cep}" required/>
        </div>
        <input type="hidden" name="usuario.id" id="user-id" th:value="${user.id}"/>
        <input type="submit" class="btn" value="Cadastrar"/>
    </form>


    <div class="dadosTotal">
        <div class="total">
            <h3 class="nomes h3nome">Nome: <span class="nome" th:text="${user.name}">Nome</span></h3>
        </div>
        <div class="total">
            <h3 class="nomes">E-mail: <span class="email" th:text="${user.email}">Email</span></h3>
        </div>
        <div class="total">
            <h3 class="nomes">Telefone: <span class="telefone" th:text="${user.phone}">Telefone</span></h3>
        </div>
        <div class="total">
            <h3 class="nomes">Data de nascimento: <span class="dataNasc" th:text="${user.birthDate}">Data de
                Nascimento</span></h3>
        </div>
        <div class="total">
            <h3 class="nomes">Cpf: <span class="cpf" th:text="${user.cpf}">CPF</span></h3>
        </div>
    </div>

</div>

<!-- Listar Enderecos -->

<div class="bloco2">

    <h3 class="h3">Endereços cadastrados:</h3>

    <div class="total enderecoCadastrado" th:each="address : ${adresses}">
        <table>
            <tr>
                <td>
                    <h4 hidden class="end" id="id" name="id" th:text="${address.id}"></h4>
                    <text class="end"
                          th:text="${address.street + ', ' + address.neighborhood + ', N° ' + address.number}"></text>
                    <br>
                    <text class="end" th:text="'CEP: ' + ${address.cep}"></text>
                    <div class="botoes">
                        <a th:href="@{/address/update/{id}(id=${address.id})}">
                            <input type="submit" class="btn" value="Atualizar"/>
                        </a>
                        <form th:action="@{/address/delete}" method="post">
                            <input type="hidden" name="id" th:value="${address.id}"/>
                            <input type="hidden" name="userId" th:value="${user.id}"/>
                            <input type="submit" class="btn bot" value="Excluir"/>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div th:if="${adresses.isEmpty()}">
        <h4 class="h4">Ainda não há endereços cadastrados</h4>
    </div>

</div>
<!-- Fim Listar Enderecos -->

<!-- Lista pedidos -->
<br>
<div class="bloco2">

    <h3 class="h3">Pedidos cadastrados:</h3>
    <section id="cart" class="section-p1">
        <table class="lista__pedidos">
            <thead>
                <tr class="titulo__pedidos">
                    <th>Imagem</th>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th>Subtotal</th>
                    <th>Endereço de entrega</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orders}">
                    <td><img th:src="${order.image}" alt="Imagem do produto"></td>
                    <td th:text="${order.name}"></td>
                    <td th:text="'R$ ' + ${order.price}"></td>
                    <td th:text="${order.quantity}"></td>
                    <td th:text="'R$ ' + ${order.valueTotal}"></td>
                    <td th:text="${order.address}"></td>
                </tr>
            </tbody>
        </table>
    </section>
</div>
<!-- Fim Lista pedidos -->

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Seja o primeiro a saber</h4>
        <p>Receba as novidades da nossa loja e saiba antes dos <span>futuros lançamentos!</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Digite seu e-mail">
        <button class="normal">Enviar</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
        <img class="logo" src="img/cureate01.png" alt="">
        <h4>Contato</h4>
        <p><strong>Endereço: </strong> Av. Eng. Eusébio Stevaux, 823</p>
        <p><strong>Telefone:</strong> 11 99999-9999</p>
        <div class="follow">
            <h4>Siga!</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="col">
        <h4>Sobre</h4>
        <a href="#">Sobre a empresa</a>
        <a href="#">Informações de entregas</a>
        <a href="#">Política e privacidade</a>
        <a href="#">Termos e condições</a>
        <a href="#">Entre em contato</a>
    </div>

    <div class="col">
        <h4>Minha conta</h4>
        <a href="#">Entrar</a>
        <a href="#">Ver itemCarrinho</a>
        <a href="#">Meus favoritos</a>
        <a href="#">Meus pedidos</a>
        <a href="#">Ajuda</a>
    </div>

    <div class="col install">
        <h4>Baixe nosso app</h4>
        <p>Disponível em App Store e Google Play</p>
        <div class="row">
            <img src="/img/front-end/pagamentos/app.jpg" alt="">
            <img src="/img/front-end/pagamentos/play.jpg" alt="">
        </div>
        <p>Formas de pagamento</p>
        <img src="/img/front-end/pagamentos/pay.png" alt="">
    </div>

    <div class="copyright">
        <p>© 2023, Senac - E-commerce projeto integrador</p>
    </div>
</footer>


<script src="/js/script.js"></script>
</body>

</html>